/*              ABOUT US               */
.about-us{
    margin-bottom: 20px;
}
.messages
{
    background-color: #202c38;
    padding:10px;
    border-radius: 7px;
}

.message-top,.message-body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.message-left,.message-right{
    display: flex;
    flex:2;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap:10px;
}
.message-left p,.message-right p
{
    box-shadow:2px 3px 15px 1px rgba(0,0,0,0.42);

}
.message-right{
    flex:1;
    justify-content: flex-end;
    

}
h2.conversation-mc{
    font-size: .9em;
    padding:10px;
    border-radius: 10px;
    color:#ffffff;
}
.mc-logo{
    background-color: var(--chat-color);
    width: 40px;
    border-radius: 50%;
    position: relative;
}
.mc-logo::before,.mc-logo::after{
    content: '';
    position: absolute;
    background: var(--active-discussion);
    box-shadow: 0 0 0 2px #fdfdfd;;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    right:0px;
    z-index: 1;
    bottom: 0;
    
}
.mc-logo::after{
    content: '';
    position: absolute;
    box-shadow:none;

    animation:pulse 1250ms infinite;
}

.mc-logo svg {
    fill:#fff;
    height: 40px;
}
.message-body{
    padding:0px 20px;
    display: block;
}
.row{
    display: grid ;
    grid-column: 3fr;
}
.message-body .message-left,.message-body .message-right
{
    padding-bottom: 5px;
}

.message-body .message-left{
    max-width: 60%;
}
p.conversation-left,p.conversation-right
{
    font-size: .95em;
    color:#202c38;
    background: #ffffff;
    padding:10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
p.conversation-right
{
    color:#ffffff;
    background: var(--chat-color);
    padding:10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
p.special-border{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0;
}