.event-page
{
    background: transparent;
    padding-top: 40px;
    padding-bottom: var(--padding-bottom-page);
}


.events{
    display: grid;
    grid-template-columns: var(--events-grid);
    padding-bottom: 20px;
    padding-top: 20px;
    gap: 20px;
}
.event-element
{
    background-color: var(--front-color);
    color:var(--background-color);
    border-radius: 7px;
    padding:20px;
    padding-bottom:20px;
    box-shadow: 7px 19px 22px -4px rgba(0,0,0,0.1);
    transition: all  150ms ease-in-out ;
}
.event-element:hover{
    transform: scale(1.03);
    background-color: var(--background-color );
    color:var(--front-color);
}
.event-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.event-img > img{
    width: 100%;
    height: 36vh;
    padding-bottom:30px;
}
h1.event-title
{
    font-family: var(--primary-font-family);
    font-size:1.1em;
    font-weight: 900;
    padding-bottom:10px;
    line-height: 1.2;
}
p.event-desc{
    font-family: var(--primary-font-family);
    font-size:.9em;
    font-weight: 100;
    line-height: 1.2;

}