@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

:root{
    --background-color:#202c38;
    --background-color-secondary:#04294F;
    --front-color:#ffffff ;
    --global-side-padding:120px;
    --padding-button:10px;
    --border-radius:10px;
    --landing-logo-height:150px;
    --landing-logo-width:300px;
    --padding-top-page:25px;
    --padding-bottom-page:25px;
    --primary-font-family:'Exo 2', 'Dosis', sans-serif;
    --secondary-font-family:'Dosis', sans-serif;
    --events-grid:repeat(4,1fr);
    --structures-grid:repeat(2 , 1fr);
    --border-size:3px;
    --chat-color:rgb(0, 174, 224);
    --active-discussion:#44b700;
    --stats-grid:repeat(3,1fr);
}

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    transition: background 100ms ease-in-out,
    color 100ms ease-in-out;
}
body::-webkit-scrollbar {
    width: .5em;
    background-color: var(--background-color);
    
}
::-webkit-scrollbar-thumb,html::-webkit-scrollbar {
    background-color: var(--front-color);
} 
a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: bolder;
    color:var(--front-color);
}
html {
    font-family:var(--primary-font-family);
    font-size:20px;
    font-weight: 500;
    line-height: 1;
    scroll-behavior: smooth;
-webkit-font-smoothing: antialiased;

}
body{
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.background{
    height: 100VH;
    width: 100VW;
    background-color: var(--background-color);
    z-index: -1;
    position: fixed;
}
/* .container{
    display:grid;
} */

.impaire,.paire{
    
    padding:0 var(--global-side-padding);
}
.impaire{
    color:var(--front-color);
    background: transparent;
}
.paire{
    color:var(--background-color);
    background: var(--front-color);
}
/*            NAVBAR                  */
.navbar{
    display: block;
    z-index: 4;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 74px;
    line-height: 1.2;
    color:var(--front-color);
    background: var(--background-color);
}

.navbar-content{
    display: flex ;
    height: 100%;
    align-items: center;
    padding:07px 0;
    justify-items: center;
}
.navbar-left{
    display: flex;
    flex-direction: row;
    position: relative;
    gap:10px;
    overflow: hidden;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
}

.nav-logo
{
    display:inline-block;
    height: 60px;
    width: 60px;
    /* color:white; */
    /* box-shadow: 3px 12px 18px -10px rgba(0,0,0,0.35); */
}
.navbar-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    flex:1;
}
.navbar-right-elements{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    gap:20px;
}
.navbar-right-elements a{
    font-size: .7rem;
}
.navbar-left  a
{
    font-size: .9735rem;
}


.light-dark-button > button > svg
{
    width: 30px;
    height:30px; 
    /* background-color: var(--); */
    
}
/*Intersection Observer */
.change-color{
    background-color: var(--front-color);
    color:var(--background-color) ;  
    transition: all 400ms ease-in-out;
}
.change-color a{
    color:var(--background-color);
    
}
.change-color svg,.change-color #theme-toggle svg{
    fill:var(--background-color);
}


/*              LANDING PAGE                */

.landing-page{
    min-height: 100vh;
    padding-top:calc( var(--padding-bottom-page) + 74px) ;
    padding-bottom: var(--padding-bottom-page);
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
}
/*                    left                           */
.landing-left
{
    font-size: 0.8rem;
    font-weight: 800;
    max-width: 100%;
    
    padding-left: 0;
    line-height: 1.1;
}
.landing-left>*:not(:first-child){
    padding-right: 60px;
    
}
.landing-logo
{
    grid-column: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--landing-logo-height);
    width: var(--landing-logo-width);
    
}
h1.landing-desc-title {
    font-size: 2.5em;
    line-height: 1.5em;
    font-weight: bolder;
    
}
h2.landing-desc-title {
    font-size: 1em;
    margin:20px 0;
    font-weight: bolder;

}


/*                    right          */
.landing-right
{
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    width:100%;
   
}
img.floating-space 
{
    display: flex;
    height: 500px;
    width: 100%;
    flex-shrink: 0;

}
.landing-button{
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
a.landing-button{
    background: var(--background-color);
    display: inline-block;
    width:max-content;
    text-align: center;
    padding:var(--padding-button);
    border-radius: var(--border-radius);
    position: relative;
    border: 1px solid var(--background-color);
    overflow: hidden;
    box-shadow: 5px 12px 15px -3px rgba(0,0,0,0.1);
    transition: all 300ms ease-in-out;
}
a.about{
    background:var(--front-color);
    color:var(--background-color);
}
a.landing-button:hover{
    background:var(--front-color) ;
    color:var(--background-color);
}
a.about:hover{
    
    background:var(--background-color) ;
    color:var(--front-color);
}
.landing-guid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:30px;
}
/*              EVENTS PAGE               */
/* commun */
h1.events-title,h1.structures-title,h1.about-title,h1.stats-title
{
    font-size: 2rem;
    /* text-decoration: underline; */
    padding: 20px;
    padding-left: 0;
    font-weight: 900;
    font-family: var(--secondary-font-family);
    line-height: 1.3;
    border-bottom: 1px solid var(--front-color);
    /* text-underline-offset:.5rem; */
}
p.events-desc ,p.structures-desc,p.about-desc,p.stats-desc{
    margin-top:20px;
    margin-bottom: 40px;
    font-size: 1rem;
    font-weight: 600;
}
/*              STRUCTURES PAGE               */
/* commun */
h1.structures-title,h1.stats-title{
    color:var(--background-color);
    border-bottom: 1px solid var(--background-color);
}
@media screen and (max-width:1005px) 
{ 
    :root{
        --global-side-padding:70px;
    }
    
}
@media screen and (max-width:960px) 
{ 
    :root{
        --global-side-padding:60px;
    }
    
}
@media screen and (max-width:800px) 
{ 
    :root{
        --global-side-padding:50px;
        --events-grid:repeat(2,1fr)
        
    }
    
    .navbar-right-elements > :first-child{
        display: none;
    }
    .moon-svg,.moon-svg-left
    {
        right:-20%;
    }
    .moon-svg-left{
        left:-20%;
    }
    
}
 
@media screen and (max-width:640px) 
{
    :root{
        --global-side-padding:20px;
        --landing-logo-height:100px;
        --landing-logo-width:200px;
        --structures-grid:repeat(1, 1fr);
        --border-size:6px;
        /* --events-grid:repeat(1,1fr) */

    }
    .landing-page{
        min-height: max-content;
    }
    .landing-left> *:not(:first-child){
        padding-right: 0;;
    }
    .moon-svg
    {
        right:-30%;
    }
    .left-structure,.right-structure{
        grid-column: 1/2;
    }
}
@media screen and (max-width:500px) 
{
    :root{
        --events-grid:repeat(1,1fr)

    }   
    .landing-button{
        flex-direction: column;
    }
}

span.riples{
    position: absolute;
    background: #fff;
    transform: translate(-50%,-50%);
    pointer-events: none;
    border-radius: 50%;
    animation:riples 1s linear infinite;
}
@keyframes riples {
    0%{
        width: 0;
        height: 0;
        opacity: .5;
    }
    100%{
        width: 500px;
        height: 500px;
        opacity: 0;
    }

}
@keyframes pulse {
    0%{
        transform: scale(0.95);
        opacity: 1;
    }
    70%{
        transform: scale(1.3);
        opacity: .6;
    }
    100%{
        opacity: 0;
        transform: scale(2);
    }
}